{% extends 'home.html' %} 
{% load tailwind_filters %}
{% block body_block%}
<div class="max-w-lg mx-auto mt-5">

  <div class="mt-2 py-5 border-b border-gray-300">
    <a class="hover:text-blue-500" href="{% url 'register' %}">Don't Have An Account?</a>
  </div>
  <form class="mt-5" method="post">
    {{form|crispy}} 
    {% csrf_token %}
    <button class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md" type="submit">Login</button> 
  </form>
  <div class="mt-5 py-5 border-t border-gray-300">
    <a class="hover:text-blue-600" href="{% url 'reset-password' %}">Forget Password?</a>
  </div>
</div>

{% endblock %}
