{% extends 'home.html' %} 
{% load tailwind_filters %}

{% block body_block %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-900 tracking-widest">Lead</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
          {{leads.first_name}} {{leads.last_name}}
        </h1>
        <div class="flex mb-4">
          <a
            href="{% url 'leads:details' leads.pk %}"
            class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1"
            >Overview</a
          >
          <a href="{% url 'leads:category-update' leads.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1"
            >Category</a
          >
          <a
            href="{% url 'leads:update' pk=leads.id %}"
            class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1"
            >Update Details</a
          >
        </div>
        <form method="post">
          {{form|crispy}} 
          {% csrf_token %}
          <button class="text-white w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md" type="submit">Update</button>
        </form>
        <div class="py-5 border-t border-gray-300 mt-5">
          <a
          href="{% url 'leads:delete' pk=leads.id %}"
          class="w-1/2 mt-3 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"
        >
          Delete
        </a>
        </div>
      </div>
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="https://dummyimage.com/400x400"
      />
    </div>
  </div>
</section>

<!-- <a href="{% url 'leads:lead-list' %}">Go Back</a><br />
<br />
{{leads.first_name}} {{leads.last_name}} Age: {{leads.age}}

<hr />
<a href="{% url 'leads:update' pk=leads.id %}">Update</a>
<a href="{% url 'leads:delete' pk=leads.id %}">Delete</a> -->
{% endblock %}
